

<h2 mat-dialog-title>EnrollmentDetail</h2>

<mat-dialog-content>
    <span>{{enrollmentDetail.username}}</span><br>
    <span>{{enrollmentDetail.address}}</span><br>
    <span>{{enrollmentDetail.zipcode}}</span><br>
    <span>{{enrollmentDetail.mobno}}</span><br>
    <span>{{enrollmentDetail.email}}</span><br>
    <span>{{enrollmentDetail.select_country}}</span><br>
    <span>{{enrollmentDetail.select_state}}</span><br>
    <span>{{enrollmentDetail.password}}</span><br>
</mat-dialog-content>    
    <mat-dialog-actions> 
        <button mat-button mat-dialog-close></button>
    </mat-dialog-actions>
   


