<mat-toolbar color="primary"> &nbsp; &nbsp;  &nbsp;
<span><a mat-icon-button routerLink="/home">Home</a></span> &nbsp;  &nbsp; &nbsp;
<span><a mat-icon-button routerLink="/student">Student data</a></span>
<span class="example-spacer"></span>
<a mat-icon-button routerLink="/login">Login</a>  &nbsp;  &nbsp; &nbsp;
<a mat-icon-button routerLink="/register">Register</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

</mat-toolbar>
<router-outlet></router-outlet>     

<h1>Teacher</h1>
<button (click)="greetStudent()">Greet Student</button>
<button (click)="appreciateStudent()">Appreciate Student </button>
<app-home></app-home>
